@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIAVEIS CORES e FONTES */

:root {
  --cor-roxo-claro: #9675ce;
  --cor-roxo-escuro: #4a356d;
  --cor-laranja: #ffb64d;
  --cor-branca: #fafafa;
  --cor-preta: #000000;
  --cor-amarelo: #fff59c;
  --font-titulo: "Karla", sans-serif;
  --font-paragrafo: "Figtree";
}

/* CONFIGURAÇÕES GLOBAIS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-paragrafo);
  background-color: var(--cor-branca);
  background-image: url("/ProjetoSolarOficial/src/assets/img-register/background-cadastro.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.margem-global {
  margin: 0 92px 0 92px;
}

/* HEADER */
.container-pai {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-roxo-claro);
  height: 95px;
}

/* deixando a logo com margem */
.logo {
  margin-left: 60px;
}

/* Menu principal */
.nav-pai ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
}

/* dropdawn */
.nav-pai li {
  position: relative;
}

/* navegação */
.nav-pai li a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: var(--cor-branca);
  padding: 10px 15px;
  transition: background 0.3s;
}

/* cor background nas opções da navegação */
.nav-pai li a:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 15px;
}

/* Seta do lado do texto */
.seta-header {
  width: 12px;
  transition: transform 0.3s;
}

/* Efeito de girar seta ao passar o mouse */
.nav-pai li:hover .seta-header {
  transform: rotate(180deg);
}

/* Estilo do dropdown */
ul.dropdown {
  position: absolute;
  top: 100%;
  background: var(--cor-roxo-claro);
  border-radius: 5px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: none;
  min-width: 160px;
  z-index: 999;
}

/* Mostrar dropdown ao passar o mouse */
.nav-pai li:hover ul.dropdown {
  display: block;
}

/* Itens dentro do dropdown */
ul.dropdown li a {
  display: block;
  padding: 15px 15px;
  color: var(--cor-branca);
  font-family: "Karla", sans-serif;
  text-decoration: none;
  border-bottom: 2px solid var(--cor-branca);
}

/* cor background do dropdawn */
ul.dropdown li a:hover {
  background: var(--cor-laranja);
}

/* config botao */
.button-header {
  background-color: var(--cor-laranja);
  color: #fafafa;
  border-radius: 30px;
  padding: 15px 24px;
  margin-right: 60px;
  font-size: 22px;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.button-header:hover {
  background-color: var(--cor-amarelo);
  color: var(--cor-roxo-claro);
}

/* FORMULÁRIO DE CADASTRO */

.container-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-com-gradiente-e-imagem {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-image: linear-gradient(
    to top,
    #fff067,
    #fff98db0,
    #fff98d13,
    #ffffff00
  );
  box-shadow: 2px 2px rgba(0, 0, 0, 0.144);
  margin-left: 100px;
}

.circulo-com-gradiente-e-imagem img {
  max-width: 300px;
  max-height: 500px;
  display: block;
}

.form-container {
  font-family: var(--font-titulo);
  color: var(--cor-branca);
  text-align: center;
}

.form-container-opacidade {
  margin-top: 12px;
  background-image: linear-gradient(10deg, #6f5c8f 10%, #bf9ef5 100%);
  border-radius: 65px;
  padding: 0px 80px 0px;
  width: 600px;
  height: 620px;
  padding-top: 40px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  background: var(--cor-roxo-claro);
  opacity: calc(0.88);
}

.form-container h2 {
  font-family: var(--font-titulo);
  font-size: 58px;
  margin-bottom: 20px;
  box-shadow: 0;
}

.input-group {
  margin-bottom: 15px;
}

.input-group img {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
  color: var(--cor-branca);
}

.input-group ::placeholder {
  color: var(--cor-branca);
}

.input-group input {
  color: var(--cor-branca);
  width: 100%;
  padding: 16px 16px 16px 50px;
  border: 4px solid var(--cor-branca);
  border-radius: 32px;
  background-color: transparent;
  font-size: 20px;
  outline: none;
}

.input-group input:hover {
  border-color: var(--cor-amarelo);
  transition: 0.9s ease;
}

.input-group input:focus,
.input-group input:valid {
  border-color: var(--cor-amarelo);
}

.termos {
  font-size: 14px;
  margin: 20px 0;
  color: var(--cor-branca);
  font-family: var(--font-paragrafo);
}

.termos a {
  color: var(--cor-branca);
  text-decoration: underline;
  font-weight: bold;
}

.submit-btn {
  padding: 16px 100px;
  border: none;
  border-radius: 50px;
  background-color: var(--cor-laranja);
  color: var(--cor-preta);
  font-family: var(--font-titulo);
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #f7d850;
}

.login-link {
  margin-top: 20px;
  font-size: 16px;
}

.login-link a {
  color: var(--cor-branca);
  font-weight: bold;
  text-decoration: underline;
}
