@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIAVEIS CORES e FONTES */

:root {
  --cor-roxo-claro: #9675ce;
  --cor-roxo-escuro: #4a356d;
  --cor-laranja: #ffb64d;
  --cor-branca: #fafafa;
  --cor-preta: #000000;
  --cor-amarelo: #fff59c;
  --font-titulo: "Karla", sans-serif;
  --font-paragrafo: "Figtree";
}

/* config zeradas */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.container-pai {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-roxo-claro);
  height: 95px;
}

/* deixando a logo com margem */
.logo {
  margin-left: 60px;
}

/* Menu principal */
.nav-pai ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
}

/* dropdawn */
.nav-pai li {
  position: relative;
}

/* navegação */
.nav-pai li a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: var(--cor-branca);
  padding: 10px 15px;
  transition: background 0.3s;
}

/* cor background nas opções da navegação */
.nav-pai li a:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 15px;
}

/* Seta do lado do texto */
.seta-header {
  width: 12px;
  transition: transform 0.3s;
}

/* Efeito de girar seta ao passar o mouse */
.nav-pai li:hover .seta-header {
  transform: rotate(180deg);
}

/* Estilo do dropdown */
ul.dropdown {
  position: absolute;
  top: 100%;
  background: var(--cor-roxo-claro);
  border-radius: 5px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: none;
  min-width: 160px;
  z-index: 999;
}

/* Mostrar dropdown ao passar o mouse */
.nav-pai li:hover ul.dropdown {
  display: block;
}

/* Itens dentro do dropdown */
ul.dropdown li a {
  display: block;
  padding: 15px 15px;
  color: var(--cor-branca);
  font-family: "Karla", sans-serif;
  text-decoration: none;
  border-bottom: 2px solid var(--cor-branca);
}

/* cor background do dropdawn */
ul.dropdown li a:hover {
  background: var(--cor-laranja);
}

/* config botao */
.button-header {
  background-color: var(--cor-laranja);
  color: #fafafa;
  border-radius: 30px;
  padding: 15px 24px;
  margin-right: 60px;
  font-size: 22px;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.button-header:hover {
  background-color: var(--cor-amarelo);
  color: var(--cor-roxo-claro);
}

/* <><><><><>><><><><><><><><><><><><><><><><><><><><><><><><><><><><>><><><><><><><><><><><><><><><><><><>< */

/* MAIN */

.container-principal {
  display: flex;
  margin-top: 203px;
  justify-content: center;
  align-items: center;
}
.confirm-inscricao {
  width: 883px;
  height: 427px;
  border: 1px solid var(--cor-roxo-escuro);
  border-radius: 10px;
  box-shadow: 1px 2px 2px;
}

.img-texto {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;

  h3 {
    font-family: "Karla", sans-serif;
    font-size: 25px;
    color: var(--cor-roxo-escuro);
  }

  p {
    font-family: "Figtree";
    font-size: 17px;
    color: var(--cor-preta);
  }
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  gap: 290px;

  .botao-1 {
    color: var(--cor-roxo-escuro);
    border: 1px solid var(--cor-roxo-escuro);
    border-radius: 6px;
    padding: 16px;
    background-color: transparent;
    cursor: pointer;
  }

  .botao-2 {
    color: var(--cor-branca);
    cursor: pointer;
    border: 1px solid var(--cor-roxo-escuro);
    border-radius: 6px;
    padding: 16px;
    background-color: var(--cor-roxo-escuro);
  }
}

.botao-1:hover {
  background-color: #ffb347; /* tom mais claro do laranja */
  transform: scale(1.05);
}

.botao-2:hover {
  background-color: transparent;
  color: var(--cor-roxo-escuro);
  border: 2px solid var(--cor-roxo-escuro);
  transform: scale(1.05);
}

/* //////////////////////////////////////////// FOOTER ////////////////////////////////////////////// */

footer {
  background-color: var(--cor-roxo-claro);
  margin-top: 186px;
}

footer .container-informacoes {
  display: flex;
  justify-content: space-between;
  padding: 86px 0 0 0;
}

footer .container-informacoes .logotipo-texto {
  width: 443px;
  height: 209.69px;
}

footer .container-informacoes .logotipo-texto .logotipo-nome {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 30%;
  margin-bottom: 21px;
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 40px;
}

footer .container-informacoes .logotipo-texto p {
  font-size: 15px;
  font-family: var(--font-paragrafo);
  color: var(--cor-branca);
  margin-left: 3%;
}

footer .container-informacoes .redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

footer .container-informacoes .redes-sociais h2 {
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 33.73px;
}

footer .container-informacoes .redes-sociais .instagram,
.linkedin {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .container-informacoes .redes-sociais a {
  color: var(--cor-amarelo);
  font-family: var(--font-titulo);
  font-size: 20px;
  text-decoration: none;
}

footer .container-informacoes .paginas {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  gap: 15px;
  cursor: pointer;
}

footer .container-informacoes .paginas h2 {
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 33.73px;
}

footer .container-informacoes .paginas p {
  color: var(--cor-amarelo);
  font-family: var(--font-paragrafo);
  font-size: 25px;
}

footer .margem-global p {
  color: var(--cor-branca);
  text-align: center;
  font-family: var(--font-titulo);
  font-size: 18px;
  margin-top: 20px;
}
