@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIAVEIS CORES e FONTES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-roxo-claro: #9675CE;
    --cor-roxo-escuro: #4A356D;
    --cor-laranja: #FFB64D;
    --cor-branca: #FAFAFA;
    --cor-preta: #000000;
    --cor-amarelo: #FFF59C;
    --font-titulo: "Karla", sans-serif;
    --font-paragrafo: "Figtree";
}

/* CONFIGURAÇÕES GLOBAIS */

/* HEADER */
.container-pai {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-roxo-claro);
  height: 75px;
}

/* deixando a logo com margem */
.logo {
  margin-left: 10px;
}

/* Menu principal */
.nav-pai ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
}

/* dropdawn */
.nav-pai li {
  position: relative;
}

/* navegação */
.nav-pai li a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-family: "Josefin sans", sans-serif;
  color: var(--cor-branca);
  padding: 10px 15px;
}

/* cor background nas opções da navegação */
.nav-pai li a:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 15px;
}

/* Seta do lado do texto */
.seta-header {
  width: 12px;
  transition: transform 0.3s;
}

/* Efeito de girar seta ao passar o mouse */
.nav-pai li:hover .seta-header {
  transform: rotate(180deg);
}

/* Estilo do dropdown */
ul.dropdown {
  position: absolute;
  top: 100%;
  background: var(--cor-roxo-claro);
  border-radius: 5px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: none;
  min-width: 160px;
  z-index: 999;
}

/* Mostrar dropdown ao passar o mouse */
.nav-pai li:hover ul.dropdown {
  display: block;
}

/* Itens dentro do dropdown */
ul.dropdown li a {
  display: block;
  padding: 15px 15px;
  color: var(--cor-branca);
  font-family: "Karla", sans-serif;
  text-decoration: none;
  border-bottom: 2px solid var(--cor-branca);
}

/* cor background do dropdawn */
ul.dropdown li a:hover {
  background: var(--cor-laranja);
}

/* config botao */
.button-header {
  background-color: var(--cor-laranja);
  color: #fafafa;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 60px;
  font-size: 22px;
  cursor: pointer;
  font-family: var(--font-titulo);
}

.button-header:hover {
  background-color: var(--cor-amarelo);
  color: var(--cor-roxo-claro);
}
/* ---main--- */

/* divs pai */
section {
  border: 3px solid var(--cor-roxo-claro);
  border-radius: 20px;
  margin: 63px;

}

.conteudo{
  display: flex;
  margin-top: 55px;
  margin-bottom: 109px;
  justify-content: center;
  gap: 84px;
  padding: 20px;
  flex-wrap: wrap;

}

.botao-voltar img{
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-paragrafo);
  color: var(--cor-preta);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px ;
  text-decoration: none;}


.botao-voltar {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-paragrafo);
  color: var(--cor-preta);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 12px ;
  text-decoration: none;
}

.texto-principal {
  text-align: center;
  align-items: center;
  font-family: var(--font-titulo);
  color: var(--cor-roxo-escuro);
  gap: 11px;
  text-decoration: none;
  margin-left: 63px ;
  margin-top: 55px ;

}

.texto-principal p{
  text-align: center;
  align-items: center;
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  gap: 11px;
  margin-top: 11px;
  margin-left: 63px ;
}

.texto-formulario h2{
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  margin-left: 8px;
  font-size: 25px;
}

.texto-formulario {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
}
.texto-formulario img{
  width: 64px;
  height: 64px;
  margin-left: 25px ;
  margin-right: 44px;
  
}

.formulario{
  font-family: var(--font-titulo);
  background-color: var(--cor-branca);
  border: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
  border-radius: 15px;
  flex: 1;
  min-width: 350px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;

}
.formulario input{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--cor-roxo-claro);
  padding-left: 10px;
  font-size: 16px;
  /* align-items: center; */
  box-sizing: border-box;
  margin-bottom: 20px;
}
.formulario label{
  font-size: 18px;
  margin-bottom: -8px;
  display: block;
  align-items: center;
}

.resultado{ 
  font-family: var(--font-titulo);
  background-color: var(--cor-branca);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
  flex-direction: column;
  border-radius: 15px;
  flex: 1;
  padding: 30px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 600px;
}

.texto-resultado h2{
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  margin-left: 8px;
  font-size: 25px;
}

.texto-resultado {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
}
.texto-resultado img{
  width: 64px;
  height: 64px;
  margin-left: 25px ;
  margin-right: 44px;
  
}

.conteudo button{
  background-color: var(--cor-roxo-claro);
  color: #fafafa;
  border-radius: 30px;
  width: 295px;
  height: 46px;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  cursor: pointer;
  font-family: var(--font-titulo);
  margin: 60px auto 140px;;
}
.resumo{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 55px;
  align-items: center;
  
}


 
  

#categorias span{
    font-family: var(--font-titulo);
    font-size: 20px;
    color: var(--cor-roxo-escuro);
    display: flex;
    margin-bottom: 16px;
  }
  



.icone-categoria{
  width: 42px;
  height: 42px;
  margin-right: 8px;
} 

.resumo .card span{
  display: flex;
  font-family: var(--font-titulo);
  font-size: 18px;
  color: var(--cor-preta);
  align-items: center;
  align-content: center;
}


.card{
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;
  }

  .card span{
    padding: 20px;
    align-items: center;
  }

  .card strong{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* aviso gastos negativos  */
   /* Saldo positivo - verde */
.saldo-positivo {
    color: #10B981 !important;
}

/* Saldo negativo - vermelho */
.saldo-negativo {
    color: #EF4444 !important;
    font-weight: bold;
}

/* Gasto com alerta - vermelho */
.gasto-alerta {
    color: #EF4444 !important;
    font-weight: bold;
}

/* Animação para chamar atenção */
.saldo-negativo {
    animation: pulsar 1.5s ease-in-out infinite;
}

@keyframes pulsar {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}

#graficoGastos{
  gap: 20px;
  margin-top: 30px;
  width: max-content;
}

.item-gasto{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 11px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
  align-items: center;
  margin-left: 54px ;
}

.item-gasto .nome span{ /*nome gasto */
  font-weight: 500;
  font-style: var(--cor-preta);
}

.item-gasto .nome{
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-gasto strong{ /*  valor */
  font-style: var(--cor-preta);
  font-size: 17px; 
}

.cor-indicador{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  flex-shrink: 0;
}

#listaGastos h3{
  color: var(--cor-roxo-escuro);
  font-size: 22px;
  margin-top: 34px;
  margin-bottom: 34px;

}
/* <!-- ---footer---- --> */

footer {
  background-color: var(--cor-roxo-claro);
  margin-top: 186px;
}

footer .container-informacoes {
  display: flex;
  justify-content: space-between;
  padding: 86px 0 0 0;
}

footer .container-informacoes .logotipo-texto {
  width: 443px;
  height: 209.69px;
}

footer .container-informacoes .logotipo-texto .logotipo-nome {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 30%;
  margin-bottom: 21px;
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 40px;
}

footer .container-informacoes .logotipo-texto p {
  font-size: 15px;
  font-family: var(--font-paragrafo);
  color: var(--cor-branca);
  margin-left: 3%;
}

footer .container-informacoes .redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

footer .container-informacoes .redes-sociais h2 {
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 33.73px;
}

footer .container-informacoes .redes-sociais .instagram,
.linkedin {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .container-informacoes .redes-sociais a {
  color: var(--cor-amarelo);
  font-family: var(--font-titulo);
  font-size: 20px;
  text-decoration: none;
}

footer .container-informacoes .paginas {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  gap: 15px;
  cursor: pointer;
}

footer .container-informacoes .paginas h2 {
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 33.73px;
}

footer .container-informacoes .paginas p {
  color: var(--cor-amarelo);
  font-family: var(--font-paragrafo);
  font-size: 25px;
}

footer .margem-global p {
  color: var(--cor-branca);
  text-align: center;
  font-family: var(--font-titulo);
  font-size: 18px;
  margin-top: 20px;
}