@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIAVEIS CORES e FONTES */

:root {
  --cor-roxo-claro: #9675ce;
  --cor-roxo-escuro: #4a356d;
  --cor-laranja: #ffb64d;
  --cor-branca: #fafafa;
  --cor-preta: #000000;
  --cor-amarelo: #fff59c;
  --font-titulo: "Karla", sans-serif;
  --font-paragrafo: "Figtree";
  --cor-roxo-claro-gradient: linear-gradient(140deg,
      rgba(191, 158, 245, 0.8) 0%,
      rgba(111, 92, 143, 0.8) 100%);
}

/* config zeradas */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.margem-global {
  margin: 0 60px 0 60px;
}

/* <><><><><>><><><><><><><><><><><><><><><><><><><><><><><><><><><><>><><><><><><><><><><><><><><><><><><>< */

body {
  font-family: var(--font-paragrafo);
  background-color: #000;
  position: relative;
  min-height: 100vh;
}


body::before {
  content: "";
  background-image: url("../../assets/img-login/background-cadastro.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

section.img-login .margem-global {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 100px;
}

.login-solar {
  display: flex;
  flex-direction: column;
  font-family: var(--font-titulo);
  background: var(--cor-roxo-claro-gradient);
  padding: 59px 56px 86px 56px;
  border-radius: 60px;
  width: 550px;
  height: 650px;
}

.login-solar ::placeholder {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.circulo-com-gradiente-e-imagem {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  background-image: linear-gradient(to top,
      #eed06c,
      #ffe07bb9,
      #ffe98483,
      #ffed4f1e,
      #ffffff00);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.144);
}

.circulo-com-gradiente-e-imagem img {
  max-width: 500px;
  max-height: 500px;
  display: block;
}

.title-login {
  text-align: center;
  font-family: var(--font-titulo);
  color: var(--cor-branca);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 64px;
  margin-bottom: 30px;
}

.input-user {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.input-email {
  display: flex;
  border: 4px solid var(--cor-branca);
  border-radius: 30px;
  gap: 2px;
  padding: 3px;
  margin: 10px;
  width: 450px;
  height: 60px;

  img {
    margin-left: 10px;
  }

  input {
    background-color: var(--cor-roxo-claro-gradient);
    border: none;
    outline: none;
    width: 100%;
  }
}

.input-password {
  padding: 4px;
  display: flex;
  border: 4px solid var(--cor-branca);
  border-radius: 30px;
  gap: 2px;
  width: 450px;
  height: 60px;

  img {
    margin-left: 10px;
  }

  input {
    background-color: var(--cor-roxo-claro-gradient);
    border: none;
    outline: none;
    color: var(--cor-branca);
    width: 100%;
  }
}

::placeholder {
  color: var(--cor-branca);
  font-family: var(--font-titulo);
}

.input-group input:hover {
  border-color: var(--cor-amarelo);
  transition: 0.9s ease;
}

.input-remember input:focus,
.input-group input:valid {
  border-color: var(--cor-amarelo);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--cor-roxo-claro-gradient) inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input-remember {
  font-family: var(--font-paragrafo);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #fafafa;

  a {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
  }

  a:hover {
    color: #f7d850;
  }
}

.button-entrar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.button-entrar button {
  padding: 16px 100px;
  border: none;
  border-radius: 50px;
  background-color: var(--cor-laranja);
  color: var(--cor-preta);
  font-family: var(--font-titulo);
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-entrar button:hover {
  background: #f7d850;
}

/* BOTÃO GOOGLE */

.button-google {
  margin: 10px 85px;
  text-align: center;
  color: var(--cor-roxo-escuro);
}

.button-google button {
  font-family: var(--font-paragrafo);
  background-color: #fff;
  color: var(--cor-branca);
  border: 1px solid #ddd;
  background-color: var(--cor-roxo-escuro);
  padding: 20px 20px;
  margin-bottom: 30px;
  border-radius: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.button-google button:hover {
  background-color: var(--cor-roxo-claro);
  transition: all 0.3S ease;
}

/* CRIAR CONTA */

.create-account {
  font-family: var(--font-paragrafo);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  gap: 8px;

  a {
    display: inline-block;
    justify-content: center;
    color: #fafafa;
  }

  a:hover {
    color: #f7d850;
  }
}

/* POPUP CADASTRO FEITO */

/* Fundo escuro que cobre a tela inteira */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay.ativo {
  display: flex;
}

/* CAIXA POPUP */
.modal-card {
  background: linear-gradient(180deg, #a48cd1 0%, #7d5db8 100%);
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  max-width: 970px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  font-family: var(--font-paragrafo);
  position: relative;
  animation: slideUp 0.4s ease-out;
}

.icon-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.modal-card h2 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-card p {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Botão Amarelo */
.btn-modal {
  background: linear-gradient(90deg, #ffe085 0%, #ffcd4f 100%);
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: inline-block;
  margin: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 400px;
  max-width: 380px;
}

.btn-modal:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 20px rgba(255, 205, 79, 0.4);
}

.modal-input-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.input-modal-style {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-color: #fff;
}

.btns-row {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.btns-row .btn-modal {
  margin: 0;
  width: auto;
  min-width: 200px;
  padding: 12px 30px;
}


/* Animação de entrada */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 1. TELAS MÉDIAS/TABLETS (Máximo 1200px) */
@media screen and (max-width: 1300px) {
  section.img-login .margem-global {
    flex-direction: column;
    gap: 50px;
  }

  section.img-login .margem-global .circulo-com-gradiente-e-imagem {
    display: none;
  }

  .login-solar {
    display: flex;
    justify-content: center;
    margin-top: 0;
    max-width: 500px;
    height: auto;
    padding: 50px 40px;
    border-radius: 40px;
  }

  .title-login {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .input-email,
  .input-password {
    width: 100%;
    margin: 0;
    height: 55px;
  }

  .input-email input,
  .input-password input {
    font-size: 16px;
  }

  .input-remember {
    margin: 15px 0 0 0;
    font-size: 16px;
  }

  .input-remember a {
    margin-right: 0;
  }

  .button-entrar {
    margin: 35px 0 15px 0;
  }

  .button-entrar button {
    padding: 14px 80px;
    font-size: 22px;
  }

  .create-account {
    font-size: 18px;
  }
}

/* 2. TELAS PEQUENAS/MOBILE (Máximo 768px) */
@media screen and (max-width: 768px) {

  /* CONTAINER DO LAYOUT */
  section.img-login .margem-global {
    gap: 30px;
    margin-top: 120px;
  }

  .login-solar {
    width: 100%;
    max-width: none;
    padding: 20px 20px;
  }

  .title-login {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .login-solar img {
    width: 25px;
    margin: 5px 0 5px 10px;
  }

  /* INPUTS */
  .input-user {
    gap: 20px;
    padding: 10px;
  }

  .input-email,
  .input-password {
    height: 50px;
  }

  .input-email input::placeholder,
  .input-password input::placeholder {
    font-size: 14px;
  }

  .input-remember {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    margin-top: 10px;
  }

  /* Botão Entrar */
  .button-entrar {
    margin: 30px 0 15px 0;
  }

  .button-entrar button {
    padding: 12px 60px;
    font-size: 20px;
  }

  /* Criar Conta */
  .create-account {
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    gap: 5px;
  }

  .input-modal-style {
    width: 100%;
  }

  .btns-row {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
  }
}