@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIAVEIS CORES e FONTES */

:root {
  --cor-roxo-claro: #9675ce;
  --cor-roxo-escuro: #4a356d;
  --cor-laranja: #ffb64d;
  --cor-branca: #fafafa;
  --cor-preta: #000000;
  --cor-amarelo: #fff59c;
  --font-titulo: "Karla", sans-serif;
  --font-paragrafo: "Figtree";
}

/* CONFIGURAÇÕES GLOBAIS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.margem-global {
  margin: 0 60px 0 60px;
}

/* HEADER */

.container-pai {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-roxo-claro);
  height: 95px;
}

/* deixando a logo com margem */
.logo {
  margin-left: 60px;
}

/* Menu principal */
.nav-pai ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
}

/* dropdawn */
.nav-pai li {
  position: relative;
}

/* navegação */
.nav-pai li a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: var(--cor-branca);
  padding: 10px 15px;
  transition: background 0.3s;
}

/* cor background nas opções da navegação */
.nav-pai li a:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 15px;
}

/* Seta do lado do texto */
.seta-header {
  width: 12px;
  transition: transform 0.3s;
}

/* Efeito de girar seta ao passar o mouse */
.nav-pai li:hover .seta-header {
  transform: rotate(180deg);
}

/* Estilo do dropdown */
ul.dropdown {
  position: absolute;
  top: 100%;
  background: var(--cor-roxo-claro);
  border-radius: 5px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: none;
  min-width: 160px;
  z-index: 999;
}

/* Mostrar dropdown ao passar o mouse */
.nav-pai li:hover ul.dropdown {
  display: block;
}

/* Itens dentro do dropdown */
ul.dropdown li a {
  display: block;
  padding: 15px 15px;
  color: var(--cor-branca);
  font-family: "Karla", sans-serif;
  text-decoration: none;
  border-bottom: 2px solid var(--cor-branca);
}

/* cor background do dropdawn */
ul.dropdown li a:hover {
  background: var(--cor-laranja);
}

/* config botao */
.button-header {
  background-color: var(--cor-laranja);
  color: #fafafa;
  border-radius: 30px;
  padding: 15px 24px;
  margin-right: 60px;
  font-size: 22px;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.button-header:hover {
  background-color: var(--cor-amarelo);
  color: var(--cor-roxo-claro);
}

/*SECTION SOLMIDIA*/

.solmidia {
  background-image: url(/src/assets/img-sunMidia/img-mae-filha-lendo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 651px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.solmidia h2 {
  font-size: 100px;
  font-family: var(--font-titulo);
  background: linear-gradient(to right, #ffb64d, #cb913d, #996d2e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.solmidia p {
  font-size: 30px;
  font-family: var(--font-titulo);
}

/*SECTION EDUCAÇÃO*/

section.educacao {
  margin-top: 154px;
}

section.educacao .margem-global h2 {
  font-family: var(--font-titulo);
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(to right, #9675ce, #4c3b68);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 62px;
}

section.educacao .margem-global #descricao {
  font-size: 30px;
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  text-align: center;
  margin-bottom: 50px;
}

section.educacao .margem-global .container-cards {
  display: flex;
  justify-content: space-between;
}

section.educacao .margem-global .card {
  width: 388px;
  height: 630px;
  border-radius: 19.29px;
  box-shadow: 0 4.82px 4.82px var(--cor-preta);
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.educacao .margem-global .card .textos {
  width: 355.63px;
  height: 255.57px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section.educacao .margem-global .card .textos h3 {
  font-family: var(--font-titulo);
  font-size: 24px;
  color: var(--cor-preta);
}

section.educacao .margem-global .card .textos p {
  font-family: var(--font-paragrafo);
  font-size: 20px;
  color: #5a5a5a;
}

section.educacao .margem-global .card .textos h4 {
  color: var(--cor-roxo-claro);
  font-family: var(--font-paragrafo);
  font-size: 22px;
}

/*SECTION SAUDE*/

section.saude {
  margin-top: 154px;
}

section.saude .margem-global h2 {
  font-family: var(--font-titulo);
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(to right, #9675ce, #4c3b68);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 62px;
}

section.saude .margem-global #descricao {
  font-size: 30px;
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  text-align: center;
  margin-bottom: 50px;
}

section.saude .margem-global .container-cards {
  display: flex;
  justify-content: space-between;
}

section.saude .margem-global .card {
  width: 388px;
  height: 630px;
  border-radius: 19.29px;
  box-shadow: 0 4.82px 4.82px var(--cor-preta);
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.saude .margem-global .card .textos {
  width: 355.63px;
  height: 255.57px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section.saude .margem-global .card .textos h3 {
  font-family: var(--font-titulo);
  font-size: 24px;
  color: var(--cor-preta);
}

section.saude .margem-global .card .textos p {
  font-family: var(--font-paragrafo);
  font-size: 20px;
  color: #5a5a5a;
}

section.saude .margem-global .card .textos h4 {
  color: var(--cor-roxo-claro);
  font-family: var(--font-paragrafo);
  font-size: 22px;
}

/*SECTION HISTÓRIAS INSPIRADORAS*/

section.historias-inspiradoras {
  margin-top: 154px;
}

section.historias-inspiradoras .margem-global h2 {
  font-family: var(--font-titulo);
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(to right, #9675ce, #4c3b68);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 62px;
}

section.historias-inspiradoras .margem-global #descricao {
  font-size: 30px;
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  text-align: center;
  margin-bottom: 50px;
}

section.historias-inspiradoras .margem-global .container-cards {
  display: flex;
  justify-content: space-between;
}

section.historias-inspiradoras .margem-global .card {
  width: 388px;
  height: 630px;
  border-radius: 19.29px;
  box-shadow: 0 4.82px 4.82px var(--cor-preta);
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.historias-inspiradoras .margem-global .card img {
  width: 100%;
}

section.historias-inspiradoras .margem-global .card .textos {
  width: 355.63px;
  height: 255.57px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section.historias-inspiradoras .margem-global .card .textos h3 {
  font-family: var(--font-titulo);
  font-size: 24px;
  color: var(--cor-preta);
}

section.historias-inspiradoras .margem-global .card .textos p {
  font-family: var(--font-paragrafo);
  font-size: 20px;
  color: #5a5a5a;
}

section.historias-inspiradoras .margem-global .card .textos h4 {
  color: var(--cor-roxo-claro);
  font-family: var(--font-paragrafo);
  font-size: 22px;
}

/*SECTION TRABALHO E CARREIRA*/

section.trabalho-carreira {
  margin-top: 154px;
}

section.trabalho-carreira .margem-global h2 {
  font-family: var(--font-titulo);
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(to right, #9675ce, #4c3b68);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 62px;
}

section.trabalho-carreira .margem-global #descricao {
  font-size: 30px;
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  text-align: center;
  margin-bottom: 50px;
}

section.trabalho-carreira .margem-global .container-cards {
  display: flex;
  justify-content: space-between;
}

section.trabalho-carreira .margem-global .card {
  width: 388px;
  height: 630px;
  border-radius: 19.29px;
  box-shadow: 0 4.82px 4.82px var(--cor-preta);
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.trabalho-carreira .margem-global .card img {
  width: 100%;
}

section.trabalho-carreira .margem-global .card .textos {
  width: 355.63px;
  height: 255.57px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section.trabalho-carreira .margem-global .card .textos h3 {
  font-family: var(--font-titulo);
  font-size: 24px;
  color: var(--cor-preta);
}

section.trabalho-carreira .margem-global .card .textos p {
  font-family: var(--font-paragrafo);
  font-size: 20px;
  color: #5a5a5a;
}

section.trabalho-carreira .margem-global .card .textos h4 {
  color: var(--cor-roxo-claro);
  font-family: var(--font-paragrafo);
  font-size: 22px;
}

/*SECTION NOVIDADES*/

section.novidades {
  margin-top: 154px;
}

section.novidades .margem-global h2 {
  font-family: var(--font-titulo);
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(to right, #9675ce, #4c3b68);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 62px;
}

section.novidades .margem-global #descricao {
  font-size: 30px;
  font-family: var(--font-titulo);
  color: var(--cor-preta);
  text-align: center;
  margin-bottom: 50px;
}

section.novidades .margem-global .container-cards {
  display: flex;
  justify-content: space-evenly;
}

section.novidades .margem-global .card {
  width: 322px;
  height: 546px;
  border-radius: 16px;
  box-shadow: 0 4.82px 4.82px var(--cor-preta);
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.novidades .margem-global .card img {
  width: 322px;
  height: 216.59px;
}

section.novidades .margem-global .card .textos {
  width: 295px;
  height: 212px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section.novidades .margem-global .card .textos h3 {
  font-family: var(--font-titulo);
  font-size: 24px;
  color: var(--cor-preta);
}

section.novidades .margem-global .card .textos p {
  font-family: var(--font-paragrafo);
  font-size: 17px;
  color: #5a5a5a;
}

section.novidades .margem-global .card .textos h4 {
  color: var(--cor-roxo-claro);
  font-family: var(--font-paragrafo);
  font-size: 18px;
}

/*SECTION GOSTOU*/

section.gostou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 142px;
}

section.gostou .margem-global {
  width: 1077px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section.gostou .margem-global h2 {
  font-family: var(--font-titulo);
  font-size: 64px;
}

section.gostou .margem-global h3 {
  font-family: var(--font-titulo);
  font-size: 40px;
}

section.gostou .margem-global h3 span {
  color: var(--cor-laranja);
}

section.gostou .margem-global p {
  width: 1002px;
  font-family: var(--font-paragrafo);
  font-size: 20px;
}

section.gostou .margem-global .img-centro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section.gostou .margem-global button {
  width: 315px;
  height: 74px;
  border-radius: 30px;
  border: none;
  background: var(--cor-laranja);
  color: var(--cor-preta);
  font-family: var(--font-titulo);
  font-size: 26px;
  margin-top: 50px;
}

/* FOOTER */

footer {
  background-color: var(--cor-roxo-claro);
  margin-top: 186px;
}

footer .container-informacoes {
  display: flex;
  justify-content: space-between;
  padding: 86px 0 0 0;
}

footer .container-informacoes .logotipo-texto {
  width: 443px;
  height: 209.69px;
}

footer .container-informacoes .logotipo-texto .logotipo-nome {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 30%;
  margin-bottom: 21px;
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 40px;
}

footer .container-informacoes .logotipo-texto p {
  font-size: 15px;
  font-family: var(--font-paragrafo);
  color: var(--cor-branca);
  margin-left: 3%;
}

footer .container-informacoes .redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

footer .container-informacoes .redes-sociais h2 {
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 33.73px;
}

footer .container-informacoes .redes-sociais .instagram,
.linkedin {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .container-informacoes .redes-sociais a {
  color: var(--cor-amarelo);
  font-family: var(--font-titulo);
  font-size: 20px;
  text-decoration: none;
}

footer .container-informacoes .paginas {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  gap: 15px;
  cursor: pointer;
}

footer .container-informacoes .paginas h2 {
  color: var(--cor-branca);
  font-family: var(--font-titulo);
  font-size: 33.73px;
}

footer .container-informacoes .paginas p {
  color: var(--cor-amarelo);
  font-family: var(--font-paragrafo);
  font-size: 25px;
}

footer .margem-global p {
  color: var(--cor-branca);
  text-align: center;
  font-family: var(--font-titulo);
  font-size: 18px;
  margin-top: 20px;
}
